@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background-color: #a9d7d1;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
}

#main {
  background-color: #fff;
  width: 70%;
  height: 100%;
  margin: auto;
  border-radius: 5px;
  padding-bottom: 30px;
}

#description {
  padding-top: 30px; 
  padding-bottom: 0px;
}

.rowTab {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.leftTab {
  display: flex;
  justify-content: flex-end;
  width: 48%;
  text-align: right;
}

.rightTab {
  display: flex;
  justify-content: flex-start;
  width: 52%;
}

.rightTab-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 52%;
}

.sub-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



.left {
  text-align: right;
}
.right {
  text-align: left;
}

label {
  margin-right: 10px;
}

input {
  margin-left: 10px;
  width: 60%;
  border: 0.5px solid; 
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

#dropdown {
  margin-left: 10px;
}

button {
  color: white;
  background-color: dodgerblue;
  height: 40px;
  width: 90px;
  border: 1px solid;
  border-color: dodgerblue;
  border-radius: 3px;
}

.textarea {
  height: 80px;
}